body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 10vh;
    border-bottom: 2px solid #383838;
    background-color: white;
    
    #header-name {
        font-size: 2rem;
    }

    nav {
        display: none;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10vh;
    padding-top: 1rem;

    .hero-img {
        width: 400px;
        height: 500px;
    }

    .hero-text {
        margin: 0 1rem;
        text-align: center;

        .hero-intro {
            font-size: 2rem;
    
            .hero-name {
                font-size: 3rem;
                margin: 0;
        
                span {
                    color: #035397;
                }
            }
        }
    
        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #035397;
            min-height: 2rem;
        
            a {
                margin-right: 1rem;
                text-decoration: none;
            }
        
            a:visited {
                color: #035397;
            }
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    
    margin: 0 5rem;
    height: 200vh;

    .project {
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        padding: 5rem;

        .project-img {
            height: 90%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .project-info {
            height: 10%;
            text-align: center;

            .project-title {
                font-size: 32px;
            }

            .project-desc {
                font-size: 18px;
            }
        }
    }
}

.experience {
    padding-left: 20rem;

    .jobs {
        display: flex;
        
        .job {
            margin-right: 15rem;
        }
    }
}

.contact {
    padding-left: 20rem;
    padding-right: 20rem;
}

.contact-form {
    background-color: #cfd2cf;
    
}

// Tablet size or greater
@media only screen and (min-width: 680px) {
    header {
        justify-content: space-around;
        
        #header-name {
            font-size: 1.5rem;
        }
    
        nav {
            display: block;
            font-size: 1.3rem;
            
            a {
                color: black;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
    
            ul {
                list-style-type: none;
    
                li {
                    display: inline-block;
                    margin-left: 2rem;
                }
            }
        }
    }

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: flex-start;
        margin-left: 1rem;
        margin-right: 1rem;

        .hero-img {
            top: 0;
            width: 400px;
            height: 500px;
        }

        .hero-text {
            align-self: center;
            text-align: center;

            .hero-intro {
                font-size: 1.8rem;

                .hero-name {
                    font-size: 2.5rem;
                    margin: 0;
                }

                .hero-title {
                    margin: 1rem 0;
                }

                .about-me {
                    margin: 1rem 0;
                }
            }
        }
    }
}

//Desktop size or greater
@media only screen and (min-width: 920px) {
    header {
        #header-name {
            font-size: 2rem;
        }

        nav {
            font-size: 1.5rem;
        }
    }

    .hero {
        justify-content: space-evenly;
        padding-top: 5rem;
        align-items: center;

        .hero-text {
            text-align: left;

            .hero-intro {
                font-size: 2rem;

                .hero-name {
                    font-size: 3rem;
                }
            }
        }
    }
}