body{
    margin: 0;
    color: #040303;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem 20rem;
    height: 10vh;
    font-size: 25px;
    border-bottom: 2px solid #383838;

    #header-name {
        font-size: 35px;
    }

    nav {

        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            list-style-type: none;

            li {
                display: inline-block;
                margin-left: 2rem;
            }
        }
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 90vh;
    padding: 10rem 20rem;
}

.hero-text {
    float: left;

    .hero-intro {

        .hero-name {
            font-size: 3rem;
            margin: 0;
    
            span {
                color: #035397;
            }
        }
    
        .hero-title {
            font-size: 2rem;
        }
    
        .about-me {
            font-size: 2rem;
        }
    }

    .socials {
        margin-top: 45px;
        color: #035397;
    
        a {
            margin-right: 1rem;
            text-decoration: none;
        }
    
        a:visited {
            color: #035397;
            font-size: 10em;
        }
    }
}

.hero-img {
    width: 400px;
    height: 500px;
}

.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    
    margin: 0 5rem;
    height: 200vh;

    .project {
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        padding: 5rem;

        .project-img {
            height: 90%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .project-info {
            height: 10%;
        }
    }
}

.experience {
    padding-left: 20rem;

    .jobs {
        display: flex;
        
        .job {
            margin-right: 15rem;
        }
    }
}

.contact {
    padding-left: 20rem;
    padding-right: 20rem;
}

.contact-form {
    background-color: #cfd2cf;
    
}